.navbar {
  margin: 20px;
  margin-top: 10px;
  background-color: #ff3333;
  position: relative;
  border: 2px solid black;
}

[data-role=navbar] {
     border-radius: 30px;
}

.sections a {
  display: inline;
  margin: 30px;
  color: black;
}

.sections {
  display: inline;
  right: 0px;
  position: absolute;
  margin-top: 10px;
  margin-right: -20px;
}

.navbar-header h3 {
  color: black;
  margin-left: -15px;
  margin-top: 5px;
}
